/*Variables*/
$primary-color: #42E2B8;
$secundary-color:#8884FF;


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



body{
    max-width: 1366px;
    font-family: 'Oxygen', sans-serif;
    margin: 0 auto;
}

/*header*/

header{
    background:#fff;
    padding: 20px 9.3vw 0 9.3vw;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22vh;
    
}

.nav__menu{
    width: 30%;
    display:flex;
    list-style: none;
    font-weight: 700;
    font-size: 0.875em;
    justify-content: space-around;
}
.nav__items{
    text-decoration: none;
    font-weight: 900;
    color: #0F0A0A;
    letter-spacing: 1.25px;
}

.nav__items:hover{
    padding-bottom: 6px;
    border-bottom: 4px solid $primary-color;
}

.nav__btn{
    display: block;
    background: $primary-color;
    box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 90px;
    padding: 13px 24px;
    align-items: center;
    font-weight: normal;
    font-size: 0.875em;
    letter-spacing: 1.25px;
    transition: all 400ms ease-out;
    cursor: pointer;
}

.nav__btn:hover{
    transform: scale(1.1);
}

.nav__btn a{
    text-decoration: none;
    color: #fff;
}


//WELCOME

.welcome{
    display: flex;
    justify-content: space-between;
}

.welcome__container{
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin-top: 5vh;
}
.welcome__developer img{
    width: 34vw;
}

.welcome__title {
font-size: 48px;
font-weight: 700;
line-height: 78px;
text-align: left;
}

.welcome__subtitle{
font-size: 59px;
font-weight: 700;
line-height: 95px;
letter-spacing: -0.005em;
text-align: left;

}

.welcome__text{
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0.005em;
text-align: left;
margin-top:2vh;

}

.social{
    display:flex;
    align-items: flex-start;
    margin-top: 3vh;

}

.social__element{
    display: flex;
height: 44px;
width: 44px;
margin-right: 16px;
border-radius: 4px;
justify-content: center;
align-items: center;
background: $primary-color;
list-style: none;
}

.social__element:hover{
    background:#4cf8ca;
}

//content

.container{
    position: absolute;
    width: 100%;
    margin-top: 16vh;
    background: $secundary-color;
    z-index: 10;
    padding: 20px 9.3vw 0 9.3vw;
}

.about{
    max-width: 800px;
    margin: 0 auto;
    padding-top: 16vh;
}
.about__title{
font-size: 2.1em;
font-weight: 700;
line-height: 55px;
text-align: center;
color: $primary-color;

}

.about__text{
font-size: 1.8em;
font-weight: 100;
line-height: 55px;
text-align: center;
color: #fff;

}

//skills
.skills{
    max-width: 900px;
    margin: 0 auto;
    padding-top: 16vh;
    
}

.skills__title{
    font-size: 2.1em;
font-weight: 700;
line-height: 55px;
text-align: center;
color: $primary-color;
margin-bottom: 7vh;

}

.skills__list{
display: grid;
grid-gap: 30px;
grid-template-columns: repeat( 4,1fr );

}
.skills__icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    list-style: none;
    position:relative;
    cursor: pointer;
}
 
.skills__icons img{
    width: 170px;
    transition: all 500ms ease-out;
    filter: drop-shadow(-5px 3px 8px #474747);
}

.skills__text{
    position: absolute;
    top: 9px;
    width: 76%;
    height: 90%;
    text-align: center;
    transition: all 500ms ease-out;
    opacity: 0;
    z-index: 100;
}

.skills__text h4{
    transition: all 500ms ease-out;
    color: #fff;
}

.skills__icons:hover > .skills__text{
    opacity: 1;
}

.skills__icons:hover > .skills__text h4{
    transition: all 500ms ease-out;
    margin-top: -50px;
    font-size: 2em;
    font-weight: 900;
    
}

//proyets

.proyects{
    margin-top: 18vh;
}
.drupal{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

.drupal__container{
    max-width: 450px;
}

.drupal__title{
    width: 40%;
    text-align: center;
    padding: 4px 8px;
    background: #000;
    color: $primary-color;
    box-shadow: -4px 3px 1px 0px #fff;

}

.drupal__text{
    margin: 5vh 0;
}

.drupal__image{
    width: 55%;
}

.mugs{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18vh;
}

.mugs__container{
    max-width: 480px;
}
.mugs__title{
    width: 20%;
    text-align: center;
    padding: 4px 6px;
    background: #000;
    color: $primary-color;
    box-shadow: -4px 3px 1px 0px #fff;

}

.mugs__text{
    margin: 5vh 0;
}

.btns-container{
    display:flex;
    justify-content:flex-start;
}
.btn-proyect{
    background: $primary-color;
    border-radius: 50px;
    box-shadow: -1px 1px 4px;
    padding: 0.4vw 1vw;
    margin-right: 1vw;

    a{
        text-decoration: none;
        color: #000;
    }
    
}
.btn-proyect:hover{
    a{
        color: #fff;
    }
}

.btn-codig{
    border: 1px solid #000;
    border-radius: 50px;
    padding: 0.4vw 1vw;
    box-shadow: -1px 1px 4px #000;

    a{
        text-decoration: none;
        color: #000;
    }
}
.btn-codig:hover{
    background: $primary-color;
    
    a{
        color:#fff;
    }
}

//recommendation

.recommendation{
height: 36vw;
width: 80vw;
margin: 16vh auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

position: static;

background: rgba(255, 255, 255, 0.2);
backdrop-filter: blur(40px);

border-radius: 24px;
}

.recommendation__photo{
    width: 8vw;
    border-radius: 50%;
}

.recommendation__text{
    margin-top: 6vh;
    font-weight: bold;
font-size: 2em;
width:73%;
text-align: center;
}

.recommendation__name{
    margin-top: 6vh;
    font-weight: bold;
font-size: 24px;
color: #383535;
}

//talk

.talk{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
width: 39vw;
margin: 0 auto 12vh auto;
}

.talk__title{
    width: 100%;
    text-align: center;
    padding: 4px 8px;
    background: #000;
    color: $primary-color;
    box-shadow: -4px 3px 1px 0px #fff;
}

.talk__text{
font-size: 1em;
font-weight: 400;
line-height: 26px;
letter-spacing: 0.005em;
text-align: center;
margin: 2vw 0;

}

.form{
    width:100%;
    display: flex;
    flex-direction: column;
}


.form__label{
    height: 7vh;
width: 39vw;
margin: 2vh 0 5vh 0;
border-radius: 8px;
padding: 0.8vh 1vw;

}

.form__textarea{
    height: 20vh;
    width: 39vw;
    margin: 2vh 0 5vh 0;
    border-radius: 8px;
    padding: 0.8vh 1vw;
}

.form__btn{
    background: $primary-color;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 0.8vh 1vw;
    font-size: 1em;
font-weight: 400;
}

//footer
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1366px;
    position: absolute;
    width: 84vw;
    padding: 18vh 0 3vh 0;
}
.footer__copyright{
    font-size:1em;
}

.footer__heart{
    width: 14px;
    margin: 0px 4px;
}